@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 className="App-title">Vítejte na konferenci Žijeme IT 2018</h1>


<p className="App-intro">
    Tato je ukázková aplikace pro workshop "Deployment automation in Azure"
</p>